body {
    /* font-family: Arial, sans-serif; */
    font-family: Roboto, Helvetica, Arial, sans-serif;

    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;


    /*background gradient*/
    background: #3494E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}



h1 {
    color: #4CAF50;
}

.heading{
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}

label {
    margin: 10px 0;
    font-size: 18px;
    color: yellow;
}

#timer {
    background-color: lightyellow ;
    font-size: 20px;
}


input[type="number"] {
    padding: 10px;
    font-size: 18px;
    width: 100px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049; /* Darker green */
}

h2 {
    margin-top: 20px;
    font-size: 20px;
    color: #555;
}

/* Style for the cancel button */

#cancel-button {
    background-color: #f44336; /* Lighter red */
}

#cancel-button:hover {
    background-color: #d32f2f; /* Original light red on hover */
}


/*Style for the footer*/

footer {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #555;
}

footer a {
    color: #4CAF50; /* Link color */
    text-decoration: none; /* Remove underline */
}

footer a:hover {
    text-decoration: underline; /* Underline on hover */
}


p {
    text-align: center; /* Center the text */
    margin: 20px 0; /* Add some margin above and below */
    font-size: 16px; /* Adjust font size for readability */
    line-height: 1.5; /* Increase line height for better spacing */
    color: whitesmoke; /* Set text color */
}
